# Python caches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# Pytest caches
.pytest_cache/

# other
__MACOSX/
